body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#flex-container{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#board{
	width: 250px;
	height: 250px;
	display: none;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background-color: black;
}

.slot{
	position: relative;
	width: 30%;
	height:30%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

#button-box{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.btn{
	width: 100px;
	height: 25px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	border: 2px solid gray;
}

.hidden{
	display: none;
}